table,
th,
td {
  border: 1px solid black;
}

#station-selector-container {
  margin: 20px 0;
}

#router-view {
  margin-top: 20px;
}

.section-line-menu-button {
  margin: 0 2px;
}

#section-order-input {
  width: 120px;
}

#section-list {
  margin-top: 52px;
}
