table,th ,td{
  border:1px solid;
}

#station-manager-container{
  display: none;
}

#line-manager-container{
  display: none;
}

#section-manager-container{
  display: none;
}

#map-print-manager-container{
  display: none;
}

#section-inputs-container-by-lines {
  visibility: hidden;
}

#section-manager-list-container{
  visibility: hidden;
}

#line-selector-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

#subway-contents-container{
  margin-top: 20px;
}

#section-table{
  margin-top: 20px;
}