/* tag */
body {
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-size: medium;
}

table,
th,
td {
  border: 1px solid #333;
}

/* role section */
.role {
  display: none;
  margin-top: 30px;
}

.name-input-title {
  margin: 0;
}

/* station manager */
#station-name-header {
  width: 150px;
}

#station-update-header {
  width: 50px;
}

.station-delete-button {
  width: 100%;
}

/* behavior */
.active {
  display: block;
}
