<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8">
    <title>지하철 노선도 관리</title>
    <link rel="stylesheet" href="../css/line.css">
  </head>
  <body>
    <div id="app">
      <h1>🚇 지하철 노선도 관리 </h1>
      <div>
        <button type="button" id="station-manager-button" onclick="location.href='./station.html'">1. 역 관리</button>
        <button type="button" id="line-manager-button" onclick="location.href='./line.html'">2. 노선 관리</button>
        <button type="button" id="section-manager-button" onclick="location.href='./section.html'">3. 구간 관리</button>
        <button type="button" id="map-print-manager-button" onclick="location.href='./map.html'">4. 지하철 노선도 출력</button>
      </div>
      <div>
        <p id="line-name">노선 이름</p>
        <input type="text" id="line-name-input" placeholder="노선 이름을 입력해주세요"/>
      </div>
      <div>
        <p id="start-station">상행 종점</p>
        <select name="" id="line-start-station-selector">
        </select>
      </div>
      <div>
        <p id="end-station">하행 종점</p>
        <select name="" id="line-end-station-selector">
        </select>
      </div>
      <button type="button" id="line-add-button">노선 추가</button>
    </div>
    <div>
      <h2>🚉 지하철 노선도 목록</h2>
      <table id="line-list">
        <tr>
          <th>노선 이름</th>
          <th>상행 종점역</th>
          <th>하행 종점역</th>
          <th>설정</th>
        </tr>
      </table>
    </div>
    <script type="module" src="../src/line/controller.js"></script>
  </body>
</html>