h4 {
    margin-bottom: 0px;
}

input {
    margin-right: 5px;
}

select {
    margin-left: 5px;
}

#line-name-input {
    margin-bottom: 20px;
    display: block;
}

.line-station-text {
    display: inline;
}




