* {
  box-sizing: border-box;
}

.station-name-nav__station-name-label {
  display: block;
}

.station-name-nav__station-name-input-container {
  display: flex;
}
                                                                                                                                                
.station-name-nav__station-name-input {
  width: 200px;
  height: 30px;
  font-size: 1rem;
  margin-right: 10px;
  padding: 5px;
}

.station-name-list {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 200px;
  row-gap: 10px;
  column-gap: 5px;
}

.station-name-list__header {
  border-bottom: 3px double black;
}

.--h3lish {
  font-size: 1.17em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.--medium-button {
  height: 30px;
  padding: 5px;
  font-size: 1rem;
}

.--center {
  display:flex;
  align-items: center;
  justify-content: center;
}

.--strong {
  font-weight: bold;
}