ul {
  list-style: none;
  padding: 0;
}

.manager-button-group li {
  display: inline-block;
}

.contents-container,
.add-section-container {
  display: none;
}

.contents-container.active,
.add-section-container.active {
  display: block;
}
